:root [data-md-color-scheme="slate"] {
    --md-default-bg-color: #2e303e;
}

html {
    /* a bit less goofily large than the material default */
    /* font-size: 125%; */
}

/* justify and slightly decrease spacing */
p,
ul,
li {
    text-align: justify;
    line-height: 1.25;
}

td p {
    text-align: left;
}

/* Emphasize sections of nav on left hand side */

nav.md-nav {
    padding-left: 5px;
}

/* Decrease spacing on the left side nav bar */
.md-nav__link {
    margin-top: 0.25rem;
    text-align: left;
}

.md-grid {
    max-width: max(1250px, 75vw) !important;
}

span.colon {
    margin-left: -1em;
}

dl.cpp.objdesc,
dl.py.objdesc {
    /* border: 0.05rem solid var(--md-primary-fg-color); */
    border: 0.05rem solid rgb(68, 138, 255);
    box-shadow: var(--md-shadow-z1);
    border-radius: 0.4rem;
    overflow: hidden;
}

dl.cpp.objdesc>dt,
dl.py.objdesc>dt {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

dl.cpp.objdesc>dd,
dl.py.objdesc>dd {
    margin: 0 1.875em;
}

dl.py.objdesc>dd>details.toggle-details {
    border: 0.05rem solid var(--md-primary-fg-color);
    box-shadow: var(--md-shadow-z1);
    border-radius: 0.4rem;
    overflow: hidden;
}

dl.py.objdesc>dd>details.toggle-details>summary {
    border: 0;
    font-size: 0.8rem;
}

dl.py.objdesc>dd>details.toggle-details>summary::before,
dl.py.objdesc>dd>details.toggle-details>summary::after {
    background-color: var(--md-primary-fg-color--light);
    /* background-color: currentcolor; */
    top: auto;
}

dl.py.objdesc>dd>details.toggle-details>summary>svg.tb-icon {
    display: none;
}

table.autosummary {
    font-size: 0.75rem !important;
}

#__nav_1_label,
#__nav_2_label,
#__nav_3_label,
#__nav_4_label,
#__nav_5_label,
#__nav_6_label,
#__nav_7_label,
.md-nav--secondary .md-nav__title,
.md-nav--primary .md-nav__title {
    margin-bottom: 10px;
}