sphinx
sphinx-sitemap
sphinx-immaterial
autoclasstoc
# sphinx-autodoc-toolbox
breathe
nbsphinx
pandoc
myst_parser
sphinxcontrib-bibtex
sphinxemoji
sphinx-last-updated-by-git
sphinx-autobuild
nbconvert==5.6.1
ipython_genutils
jinja2==3.1.5
setuptools