name: Coverage

on:
  push:
    branches: [main]
  pull_request:
    paths:
      - '.github/workflows/coverage.yml'
      - 'cmake/**'
      - 'src/**'
      - 'tests/**'
      - 'CMakeLists.txt'
      - 'codecov.yml'

jobs:
  Coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 10

      - name: Dependencies
        run: |
          sudo apt-get install ccache lcov
          echo 'CACHE_PATH=~/.cache/ccache' >> "$GITHUB_ENV"

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2.0.0
        id: cpu-cores

      - name: Cache Build
        id: cache-build
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_PATH }}
          key: coverage-cache

      - name: Prepare ccache
        run: |
          ccache --max-size=1.0G
          ccache -V && ccache --show-config
          ccache --show-stats && ccache --zero-stats\

      - name: Configure
        run: |
          mkdir -p build
          cd build
          cmake .. \
            -DIPC_TOOLKIT_BUILD_TESTS=ON \
            -DIPC_TOOLKIT_WITH_CODE_COVERAGE=ON \
            -DCMAKE_BUILD_TYPE=Release \

      - name: Build
        run: |
          cmake --build build -j ${{ steps.cpu-cores.outputs.count }}
          ccache --show-stats

      - name: Run Coverage
        run: |
          cd build
          ctest --verbose -j ${{ steps.cpu-cores.outputs.count }}
          lcov --directory . --capture --output-file coverage.info --ignore-errors inconsistent,format,gcov
          lcov --remove coverage.info --ignore-errors unused '/usr/*' "$HOME/.cache/*" "*tests/*" --output-file coverage.info

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3.1.6
        with:
          fail_ci_if_error: true
          files: build/coverage.info
          flags: unittests
          name: ipc-toolkit
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
