name: Coverage

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 10

      - name: Dependencies
        run: |
          sudo apt-get install ccache lcov
          echo 'CACHE_PATH=~/.cache/ccache' >> "$GITHUB_ENV"

      - name: Cache Build
        id: cache-build
        uses: actions/cache@v3.0.11
        with:
          path: ${{ env.CACHE_PATH }}
          key: ubuntu-latest-Release-cache

      - name: Prepare ccache
        run: |
          ccache --max-size=1.0G
          ccache -V && ccache --show-config
          ccache --show-stats && ccache --zero-stats\

      - name: Configure
        run: |
          mkdir -p build
          cd build
          cmake .. \
            -DIPC_TOOLKIT_BUILD_TESTS=ON \
            -DIPC_TOOLKIT_CODE_COVERAGE=ON \
            -DCMAKE_BUILD_TYPE=Release \

      - name: Build
        run: cd build; make -j2; ccache --show-stats

      - name: Run Coverage
        run: |
          cd build
          ctest --verbose --output-on-failure -j2
          lcov --directory . --capture --output-file coverage.info
          lcov --remove coverage.info '/usr/*' "${HOME}"'/.cache/*' '*tests/*.cpp' --output-file coverage.info

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}