name: Docs

on:
  push:
    branches:
      - main
      - docs
  pull_request:
    branches:
      - main

jobs:
  Docs:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 10

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Requirements
        run: |
          brew install doxygen sphinx-doc
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r docs/requirements.txt

      - name: Build ipctk
        run: python setup.py install

      - name: Build docs
        run: |
          cd docs
          make html
          cd build/html
          touch .nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/build/html # The folder the action should deploy.
